<div>
  <label for="dispositivoID">dispositivo:</label>
  <input type="text" id="dispositivoID"  placeholder=""> [(ngModel)]="dispositivo"<br>

  <label for="fechaID">fecha:</label>
  <input type="text" id="fechaID"  placeholder=""> [(ngModel)]="fecha"<br>

  <label for="nombre_appID">nombre_app:</label>
  <input type="text" id="nombre_appID"  placeholder=""> [(ngModel)]="nombre_app"<br>

  <label for="tokenID">token:</label>
  <input type="text" id="tokenID"  placeholder=""> [(ngModel)]="token"<br>

  <label for="version_appID">version_app:</label>
  <input type="text" id="version_appID"  placeholder=""> [(ngModel)]="version_app"<br>

</div>
